.App {
  text-align: center;
  overflow-x: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  margin-top: 1.4375rem;
}

.mainHeading {
  position: relative;

  font-weight: 600;
  font-size: 2.375rem;
  line-height: 3rem;
  letter-spacing: -0.0175em;

  color: var(--color-primary-very-dark-blue);
  top: 5.25rem;
}

@media screen and (max-width: 1024px) {
  .main {
    margin-top: 6.5rem;
  }

  .mainHeading {
    top: 0;
  }
}
