.App {
  text-align: center;
  overflow-x: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  margin-top: 4.5rem;
}

.mainHeading {
  position: relative;
  font-family: "Overpass";
  font-style: normal;
  font-weight: 600;
  font-size: 2.375rem;
  line-height: 3rem;
  letter-spacing: -0.0175em;

  color: #1f3f5b;
  top: 6rem;
}

@media screen and (max-width: 1024px) {
  .main {
    margin-top: 6.5rem;
  }

  .mainHeading {
    top: 0;
  }
}
