.CTA {
  background: url("../../public/images/bg-pattern-intro-desktop.svg"),
    var(--CTA-gradient);
  background-position: 27% 53%;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom-left-radius: 10em;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
  padding: 9.75em 0;
}
.buttonContainer {
  display: flex;
  gap: 1em;
}
