.Footer {
  display: flex;
  background: #24242c;
  border-radius: 0px 100px 0px 0px;
  padding: 4.4rem 21.375rem 4.775rem 10.375rem;
  gap: 11.375rem;
  text-align: left;
  margin-top: 7.65rem;

  font-family: "Ubuntu";
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.125rem;
  justify-content: space-between;
}

.logo {
  width: fit-content;
  height: fit-content;
}

.footerListsContainer {
  display: flex;

  margin-top: 0.5rem;
  width: 100%;
  max-width: 40.5rem;
  justify-content: space-between;
}

.footerListWrapper {
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
}

.footerListLabel {
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.0625rem;
  letter-spacing: 0.01em;
  color: var(--color-neutral-white);
}

.footerList {
  display: flex;
  flex-direction: column;
  gap: 0.95rem;
  list-style: none;
  padding: 0;
}

.footerLink {
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.0625rem;

  cursor: pointer;
  color: #c8c8cb;
}

.footerLink:hover,
.footerLink:active {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .Footer {
    flex-direction: column;
    padding: 4.625rem 2.375rem 5rem;
    gap: 4.875rem;
    align-items: center;
    text-align: center;
  }

  .footerListsContainer {
    flex-direction: column;
    gap: 3.25rem;
    align-items: center;
  }
}
