.InfoSection {
  display: flex;
  gap: 5.475rem;
  align-items: flex-end;
  margin-left: 10.375rem;
  text-align: left;
}

.reverse {
  flex-direction: row-reverse;
  margin-left: 0;
  margin-right: 10.55rem;
  gap: 2.5rem;
}

.articlesContainer {
  display: flex;
  flex-direction: column;
  gap: 4.75rem;
  min-width: 33.5rem;
  margin-bottom: 12.5rem;
}

.articlesContainerReverse {
  margin-bottom: 11.3rem;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 1.45rem;
}

.articleTitle {
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 2.1875rem;
  letter-spacing: -0.0075em;

  color: var(--color-primary-very-dark-blue);
}

.articleParagraph {
  font-weight: 300;
  font-size: 0.9375rem;
  line-height: 1.75rem;

  letter-spacing: 0.0625em;

  color: var(--color-neutral-very-dark-grayish-blue);
}

@media screen and (max-width: 1024px) {
  .InfoSection {
    margin-left: 0;
    flex-direction: column-reverse;
    gap: 3.125rem;
    justify-content: center;
    text-align: center;
    margin-top: 2.625rem;
  }

  .reverse {
    margin-right: 0;
  }

  .articlesContainer {
    min-width: unset;
    gap: 2.75rem;
    align-items: center;
  }

  .article {
    max-width: 19.25rem;
    gap: 0.875rem;
    padding: 0 1.625rem;
  }

  .articleTitle {
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 2rem;

    letter-spacing: 0.0075em;
  }

  .articleParagraph {
    font-weight: 300;
    font-size: 1.0625rem;
    line-height: 1.75rem;
  }
}
