.middleSection {
  display: flex;
  height: 25rem;
  background: url("../../public/images/bg-pattern-circles.svg"),
    linear-gradient(90deg, #2c2d3f, #3f4164);
  background-repeat: no-repeat;
  background-position: -212px -509px, 0 0;
  border-radius: 0px 100px;
  align-items: center;
  margin: 3.55rem 0 7.325rem;
  justify-content: space-between;
  gap: 3.625rem;
  padding: 0 10.875rem 0 7.875rem;
  text-align: left;
  color: var(--color-neutral-white);
  position: relative;
}

.image {
  width: fit-content;
  height: fit-content;
  margin-top: 2.5rem;
}

.article {
  display: flex;
  flex-direction: column;
  max-width: 33.125rem;
  gap: 1.25rem;
  margin-top: 0.5rem;
}

.articleHeading {
  font-weight: 600;
  font-size: 2.5rem;

  letter-spacing: -0.035em;
}

.articleParagraph {
  font-weight: 300;
  font-size: 0.9375rem;
  line-height: 1.75rem;
  /* or 187% */

  letter-spacing: 0.0625em;
}

@media screen and (max-width: 1024px) {
  .middleSection {
    background: url("../../public/images/bg-pattern-circles.svg"),
      linear-gradient(180deg, #2c2d3f, #3f4164);

    background-repeat: no-repeat;
    flex-direction: column;
    margin-top: 4.125rem;
    background-size: 602px, auto;
    background-position: 50% -14.875rem, center;
    text-align: center;
    padding: 0 2rem 7.125rem;
    min-height: 39.125rem;
    gap: 0.15rem;
    justify-content: flex-start;
    margin-bottom: 3.9rem;
    height: unset;
  }

  .image {
    width: 382px;
    margin-top: -11.6rem;
  }

  .article {
    gap: 1.125rem;
    max-width: 20rem;
  }

  .articleHeading {
    font-weight: 600;
    font-size: 2.375rem;
    line-height: 3.125rem;

    letter-spacing: -0.026em;
  }

  .articleParagraph {
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.75rem;
    letter-spacing: 0.03em;
  }
}
