.middleSection {
  display: flex;
  height: 25rem;
  background: url("../../public/images/bg-pattern-circles.svg"),
    linear-gradient(90deg, #2c2d3f, #3f4164);
  background-repeat: no-repeat;
  background-position: -212px -509px, 0 0;
  border-radius: 0px 100px;
  align-items: center;
  margin: 4.25rem 0 4.125rem;
  justify-content: space-between;
  gap: 3.625rem;
  padding: 0 10.875rem 0 7.875rem;
}

.image {
  width: fit-content;
  height: fit-content;
  margin-top: 2.5rem;
}

.article {
  display: flex;
  flex-direction: column;
  max-width: 33.125rem;
  gap: 1.25rem;
}

.articleHeading {
  font-weight: 600;
  font-size: 2.375rem;
  line-height: 125%;
  letter-spacing: -0.016em;
  color: #ffffff;
}

.articleParagraph {
  font-weight: 300;
  font-size: 16px;
  line-height: 175%;
  flex-wrap: wrap;
  letter-spacing: 0.0315em;

  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  .middleSection {
    background: url("../../public/images/bg-pattern-circles.svg"),
      linear-gradient(180deg, #2c2d3f, #3f4164);
    background-repeat: no-repeat;
    flex-direction: column;
    margin-top: 17.125rem;
    background-size: 602px, auto;
    background-position: 50% -14.875rem, center;
    text-align: center;
    padding: 0 2rem 7.125rem;
    height: 625px;
    gap: 0.75rem;
  }

  .image {
    width: 375px;
    margin-top: -12rem;
  }

  .article {
    max-width: 19.25rem;
    gap: 1.125rem;
    padding: 0 1.625rem;
  }

  .articleHeading {
    font-weight: 600;
    font-size: 2.375rem;
    line-height: 3.125rem;

    letter-spacing: -0.026em;
  }

  .articleParagraph {
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.75rem;
    letter-spacing: 0.03em;
  }
}
