.primaryHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3.75rem 10rem 0 11.6vw;
  gap: 1.5rem;
  /* width: 100vw; */
  position: relative;
}

.navigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.mainMenu {
  list-style: none;
  display: flex;
  gap: 2em;
  justify-content: space-between;
}

.Logo {
  width: min-content;
  height: min-content;
}

.buttonsContainer {
  display: flex;
  gap: 2rem;
}

.mobileNavButton {
  display: none;
}

@media screen and (max-width: 810px) {
  .primaryHeader {
    padding: 3.5rem 1.5rem 0;
    margin: 0;
    align-items: space-between;
    width: 100%;
  }

  .logo {
    width: 5.15rem;
  }

  .mobileNavButton {
    display: block;
  }

  .navigation {
    display: flex;
    flex-direction: column;
    position: absolute;
    inset: 7.875rem 0 auto 100%;
    width: 87.2vw;
    background-color: white;
    color: var(--color-primary-very-dark-blue);
    align-items: center;
    text-align: center;
    padding: 2rem 1.5rem;
    border-radius: 6px;
    z-index: 9;
    transition: all 0.1s ease-in;
  }

  .navigationOpen {
    inset: 7.875rem 6.4vw auto;
  }

  .mainMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: fit-content;
    padding: 0;
    margin-bottom: 1.625rem;
  }

  .buttonsContainer {
    flex-direction: column;
    gap: 1.25rem;
    padding-top: 2rem;
    border-top: 2px solid #efeff1;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}
