.primaryHeader {
  display: flex;
  justify-content: space-between;
  /* align-items: flex-end; */
  margin: 3.75em 11.5em 0;
}

.navigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.mainMenu {
  list-style: none;
  display: flex;
  width: 35%;
  justify-content: space-between;
}

.Logo {
  width: min-content;
  height: min-content;
}

.buttonsContainer {
  display: flex;
}
