.primaryHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3.75em 10em 0;
}

.navigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.mainMenu {
  list-style: none;
  display: flex;
  gap: 2em;
  justify-content: space-between;
}

.Logo {
  width: min-content;
  height: min-content;
}

.buttonsContainer {
  display: flex;
  gap: 2rem;
}
